* {
    padding: 0;
    margin: 0;
}

body {
    font-family: WFont;
    background-color: lightgray;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1%;
}

/* Grid setup */

.container {
    background-color: lightgray;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.container .item3 {
    grid-column: 2/3;
    grid-row: 1/3;
}

/* */

.news-type {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    border: 2px solid green;
    border-radius: 10px;
    width: fit-content;
    background-color: white;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.news-card {
	padding-bottom: 20px;
    border-bottom-right-radius: 10px;
}

/* Main news */
.main-news-container {
    background-color: white;
    /* padding: 10px; */
}

.main-news-content {
    padding: 10px;
}

.main-news-container:hover .astronaut-img {
    filter:none;
}

.main-news-img-txt-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.main-news-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.astronaut-img {
    width: 200px;
    height: 120px;
    filter: grayscale(100%);
}

/* Side news */
.sub-news-container {
    background-color:#FFEFC8;
}

.sub-news-content {
    padding: 10px;
}

.sub-news-title {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Flag borders */
.flag-top-border {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 3px;
}

.color-red {
    background-color: red;
}

.color-white {
    background-color: white;
}

.color-black {
    background-color: black;
}

.color-blue {
    background-color: blue;
}

.color-green {
    background-color: green;
}